
:root {
	--background-color: #C1F2FF;
	--button-color: #7B3333;
}

html {
	background-color: var(--background-color);
}

body {
	font-family: "open", sans-serif;
	padding-left: 40px;
}

.poke-name {
	border: none;
	display: inline-block;
	background-color: var(--button-color);
}