
:root {
	--background-color: #C1F2FF;
	--button-color: #FF8181;
}

html {
	background-color: var(--background-color);
}

body {
	font-family: "open", sans-serif;
	padding-left: 40px;
}

.poke-name {
	border: none;
	display: inline-block;
	font-family: inherit;
	background-color: var(--button-color);
	padding: 16px 32px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	transition: .2s opacity;
}