
:root {
	--background-color: #C1F2FF;
	--button-color: #FF8181;
	--pixel-value: 10px;
}

html {

}

body {
	background-color: var(--background-color);
	font-family: "Open Sans", sans-serif;
	padding-left: 40px;
}

.poke-name {
	border: none;
	display: inline-block;
	font-family: inherit;
	background-color: var(--button-color);
	width: 100%;
	max-width: 400px;
	margin-bottom: var(--pixel-value);
	padding: 16px 32px;
	border-radius: var(--pixel-value);
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	transition: .2s opacity;
}
